<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Train Tickets</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@700&display=swap"
      rel="stylesheet">

      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> 
    <link rel="stylesheet" type="text/css" href="/CSS/Train.css">

    <script src="/javascripts/Train.js"></script>
    <script src="app.js"></script>
</head>


<body class="body">
      <section id="title">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#504f54">
            <a class="navbar-brand" href="/home"> <span class="mb-0 h1">BookIt</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item ">
                  <a class="nav-link" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#about">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#footer">Help/ContactUs</a>
                </li>
              </ul>
            </div>
          </nav>
      
   <div class="container-fluid headingcontainer">
       <h2 class="headingforbook">Book your Train Tickets here</h2>
   </div>
   
   <form action="/searchtrains" method="post">
        <div class="container maincontainer" >
            <div class="subcontainer1">
                <div class="fromdiv"> 
                    <label for="from" id="idfrom">From</label>
                    <input type="text" name="from" id="from" placeholder="Select a City">
                </div>
                
                <div class="swap">
                    <img src="IMAGES/Swap.jpg" id="swapimage" onclick="swap()">
                </div>

                <div class="todiv">
                    <label for="to" id="idto">To</label>
                    <input type="text" name="to" id="to" placeholder="Select a City">
                </div>

                <div class="datediv">
                    <label for="date" id="iddate">Choose Date</label>
                    <input type="date" name="date" id="date">
                </div>

                <div class="submitbutton"> 
                    <button type="submit" id="search">Search for Trains</button>
                    <!-- <input type="submit" value="submit" name=""> -->
                </div>
            </div>
        </div>
   </form>
    

    <div class="container-fluid grpbuttons" data-aos="zoom-in-up">
        <h2 id="h2">Train Information Services</h2>
        <button class="button">PNR Status</button>
        <button class="button">Live train status</button>
        <button class="button">View train coach position</button>
        <button class="button">Platform Locator</button>
    </div>


    <div class="container-fluid grpbuttons" data-aos="zoom-in-up">
        <h2 id="h2">BookIt settings</h2>
        <button class="button">Forgot IRCTC password</button>
        <button class="button">Forgot IRCTC ID</button>
        <button class="button">Create IRCTC ID</button>
    </div>


    <div class="container-fluid paragraph" data-aos="zoom-in-up">
        <div class="questions" data-aos="zoom-in-up">
            <h1 class="heading1">Book Train Tickets On BookIt</h1>
        </div>

        <div class="heading1answer" data-aos="zoom-in-up">
            <p>
                Travelling across the country is now easier than ever because of the complete digitization of the IRCTC ticketing procedure. Now you can book your train tickets on our website from the comfort of your home.
                 Also you can check your <span class="blue">train status</span> , <span>coach position</span>.
            </p>
        </div>

        <div class="questions" data-aos="zoom-in-up">
            <h1 class="heading2">How To Book Your Tickets</h1>
        </div>

        <div class="heading2answer" data-aos="zoom-in-up">
            <p>
                It is extremely easy to book train tickets on IRCTC.<br> 
                Below, we are mentioning the steps that you can follow to make your bookings quickly.<br>
                Step 1: Choose the source of your journey and the destination to get your train tickets book. Select the date on which you wish to start the journey.<br> 
                Step 2: Now, you will have a list of trains based on your destination and source. You have to choose the one you want to book tickets for.<br> 
                Step 3: Filter and select the seat class. You can choose from a wide variety of options such as sleeper, seater, first-class AC, second-class AC and third-class AC.<br> 
                Step 4: Select your boarding point. Enter the berth preferences and passenger details. There can be multiple passengers, and you will have to enter the details of each person separately.<br> 
                Step 5: Enter the necessary contact details including email and mobile number as your e-ticket and m-ticket will be sent on the registered information.<br>
                Step 6: Select the additional preferences. For example, you can make your bookings only if the seats are available or you can specifically book the lower berth or window seat.<br>
                Step 7: Once you have filled all the above-stated details, choose the payment mode that is most convenient for you. You can choose from a wide range of options such as debit card, credit card, net banking and UPI payments.<br>
                Step 8: Enter the User ID and password of your IRCTC accounts. You will soon be redirected to the final page, and your tickets will be confirmed. Soon, you will receive your ticket on your email ID and mobile.<br>
            </p>
        </div>


        <div class="questions" data-aos="zoom-in-up">
            <h1 class="heading3">Essential Documents To Carry</h1>
        </div>

        <div class="heading3answer" data-aos="zoom-in-up">
            <p>
                <b>These are the necessary documents you should carry along with your tickets.</b>
                <ol type="1">
                    <li>Aadhar Card</li>
                    <li>Photo ID cards that have a serial number printed on it</li>
                    <li>Laminated photograph</li>
                    <li>Student ID card consisting of a photograph </li>
                    <li>National bank passbook that has your photograph </li>
                    <li>Photo ID card issued by the State or the Central Government</li>
                    <li>Pan card </li>
                    <li>Driving license</li>
                    <li>Voter ID card </li>
                    <li>Passport </li>
                </ol>
            </p>
        </div>

        <div class="questions" data-aos="zoom-in-up">
            <h1 class="heading4">Different Types of Train Ticket Booking</h1>
        </div>

        <div class="heading4answer" data-aos="zoom-in-up">
            <h3>1.) Ladies Quota</h3>
            <p>Women who are either travelling alone or have children below the age of 3 years can avail of the ladies quota discount. While booking your tickets on BookIt, you can select the ladies quota option, but remember that only limited seats are available under this quota. There is a maximum of six berths allocated to this category.</p>

            <h3>2.) Tatkal Booking</h3>
            <p>Tatkal is the name used in Indian railways for emergency bookings. he tatkal ticketing option on IRCTC is especially available for such events. Generally, a tatkal ticket costs more than a regular one.</p>

            <h3>3.) General Booking</h3>
            <p>You can make general train booking on BookIt. It is applicable for those tickets for which the dates can be shifted forward or backwards. So, you can apply for a different ticket by paying some extra charges. However, there is usually no assurance about whether you are going to receive a confirmed booking or not. Sometimes, the tickets end up on the waiting list or RAC.</p>
        </div>


    </div>



    <div class="trainroutes" data-aos="zoom-in-up">
        <div class="questions">
            <h1 class="heading5">Popular Routes</h1>
        </div>

        <div class="heading5answer">
            <div class="popular">
                <p>
                    <img src="IMAGES/train.jpg" id="trainimage">
                    Trains to Hyderabad<br>
                    via:<span class="blue">Visakhapatnam,Vijayawada,Mumbai,Delhi</span>
                </p>
            </div>

            <div class="popular">
                <p>
                    <img src="IMAGES/train.jpg" id="trainimage">
                    Trains to Chennai<br>
                    via:<span class="blue">Coimbatore, Madurai, Tiruchirapalli Bangalore</span>
                </p>
            </div>

            <div class="popular">
                <p>
                    <img src="IMAGES/train.jpg" id="trainimage">
                    Trains to Bangalore<br>
                    via:<span class="blue"> Chennai, Hubli, Delhi, Mumbai</span>
                </p>
            </div>
        </div>
    </div>
</div>

    <footer id="footer">  
           
        <div class="row">
               <div class="col-md-4 col-sm-12 foot">
                     <h5>Quick links</h5>
                     <p style="color:white;"><a href="" style="color:white; text-decoration:none;">Home</a></p>
                      <p style="color:white;"><a href=""  style="color:white; text-decoration:none;">AboutUs</a></p>
                      <p style="color:white;" ><a href=""  style="color:white; text-decoration:none;">ContactUs</a></p>
                      
               </div>
               <div class="col-md-4 col-sm-12">
                 <h5 style="color:white; text-align: center;">Office Address</h5>
                 <p style="text-align:center; color:white; ">IIIT Sricity</p>
                 <p style="text-align:center; color:white;"> GnanMarg circle</p>
                 <p style="text-align:center; color:white;"> Chittor,Andhrapradesh</p>
               </div>
              
               <div class="col-md-4 col-sm-12" >
                 <h5 style="color:white; text-align: center;">ContactUs</h5>
                 <a href=""> <i class="fa-brands fa-facebook fa-3x public-icon" style="margin-left:110px;"></i></a>
                 <a href=""><i class="fa-brands fa-instagram-square fa-3x public-icon"></i></a>
                 <a href=""><i  class="fa-brands fa-twitter-square fa-3x public-icon"></i></a>
                 <a href=""><i  class="fa-brands fa-linkedin fa-3x public-icon"></i></a>
               </div>
               <p style="text-align:center; color:white; ">© Copyright BookIt</p>
        </div>
         </footer>
    
    
</body>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<script src="https://kit.fontawesome.com/d32e4b3111.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
crossorigin="anonymous"></script>
</html>